/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

* {
  box-sizing: border-box; }

header, .banner, section {
  max-width: 900px;
  width: 90%;
  margin: 15px auto; }

section .left-wrapper, section .right-wrapper .right-box, section .right-wrapper .right-box2 {
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.5); }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

* {
  box-sizing: border-box; }

header, .banner, section {
  max-width: 900px;
  width: 90%;
  margin: 15px auto; }

section .left-wrapper, section .right-wrapper .right-box, section .right-wrapper .right-box2 {
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.5); }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #404040; }
  header ul {
    display: flex;
    font-size: 28px; }
    header ul a {
      color: #404040;
      margin-right: 20px; }

.banner {
  background-image: url(../../image/block.png);
  width: 90%;
  padding: 20px;
  border-radius: 13px;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 15px;
  color: #F0F0F0; }
  .banner .text-box1 {
    width: 75%; }
    .banner .text-box1 h3 {
      text-transform: uppercase;
      margin-bottom: 20px; }
    .banner .text-box1 h1 {
      font-size: 33px;
      margin-bottom: 20px; }
    .banner .text-box1 button {
      margin-top: 20px;
      width: 170px;
      padding: 10px;
      color: #58c3dd;
      background-color: #F0F0F0;
      border-width: 2px;
      border-style: solid;
      border-color: #58c3dd;
      border-radius: 33px; }
  .banner .text-box2 {
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .banner .text-box2 button {
      text-transform: uppercase;
      width: 130px;
      padding: 5px;
      color: #404040;
      background-color: #F0F0F0;
      border-width: 1px;
      border-style: solid;
      border-color: #404040;
      border-radius: 33px; }

section {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }
  section h2 {
    font-size: 28px;
    margin-bottom: 15px; }
  section .left-wrapper {
    width: 60%;
    width: 60%;
    padding: 15px;
    color: #404040;
    background-color: #F0F0F0;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(64, 64, 64, 0.5);
    border-radius: 33px; }
    section .left-wrapper .box {
      display: flex;
      justify-content: space-between;
      align-items: flex-start; }
      section .left-wrapper .box img {
        width: 176px; }
      section .left-wrapper .box .text-wrapper {
        margin-left: 10px; }
        section .left-wrapper .box .text-wrapper h5 {
          margin-bottom: 10px; }
        section .left-wrapper .box .text-wrapper h3 {
          margin-bottom: 10px; }
        section .left-wrapper .box .text-wrapper:last-child {
          margin-bottom: 50px; }
      section .left-wrapper .box:last-child {
        margin-top: 20px; }
  section .right-wrapper {
    width: 35%; }
    section .right-wrapper .right-box {
      width: 100%;
      padding: 15px;
      color: #404040;
      background-color: #F0F0F0;
      border-width: 1px;
      border-style: solid;
      border-color: rgba(64, 64, 64, 0.5);
      border-radius: 33px;
      background-image: url(../../image/prom1.png);
      width: 100%;
      padding: 20px;
      border-radius: 10px;
      background-position: center;
      background-size: cover;
      color: #F0F0F0; }
      section .right-wrapper .right-box h3 {
        margin-bottom: 10px; }
      section .right-wrapper .right-box h1 {
        font-size: 28px;
        margin-bottom: 10px; }
      section .right-wrapper .right-box p {
        margin-bottom: 20px; }
      section .right-wrapper .right-box button {
        width: 150px;
        padding: 10px;
        color: #F0F0F0;
        background-color: #404040;
        border-width: 1px;
        border-style: solid;
        border-color: #404040;
        border-radius: 33px; }
    section .right-wrapper .right-box2 {
      margin-top: 30px;
      width: 100%;
      padding: 25px;
      color: #404040;
      background-color: #F0F0F0;
      border-width: 1px;
      border-style: solid;
      border-color: rgba(64, 64, 64, 0.5);
      border-radius: 33px; }
      section .right-wrapper .right-box2 h3 {
        margin-bottom: 10px; }
      section .right-wrapper .right-box2 p {
        margin-bottom: 10px; }
      section .right-wrapper .right-box2 input {
        width: 100%;
        padding: 10px;
        color: #404040;
        background-color: #F0F0F0;
        margin-bottom: 25px; }
