
@font-face {
    font-family: 'BPG Boxo-Boxo';
    src: url('../font/bpg-boxo-boxo-webfont.eot'); /* IE9 Compat Modes */
    src: url('../font/bpg-boxo-boxo-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../font/bpg-boxo-boxo-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../font/bpg-boxo-boxo-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../font/bpg-boxo-boxo-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../font/bpg-boxo-boxo-webfont.svg#bpg_boxo-boxoregular') format('svg'); /* Legacy iOS */
}


@font-face {
    font-family: 'ALK Sanet';
    src: url('../font/alk-sanet-webfont.eot'); /* IE9 Compat Modes */
    src: url('../font/alk-sanet-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../font/alk-sanet-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../font/alk-sanet-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../font/alk-sanet-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../font/alk-sanet-webfont.svg#alk_sanetregular') format('svg'); /* Legacy iOS */
}
