@import '../basic/font.scss';
// color

$color01 : #404040;
$color02: #F0F0F0;
$color03:#58c3dd;


//font-size

$size01: 28px;
$size02: 33px;
$size03:15px;


//font-size %

$size-01:100%;
$size-02:75%;
$size-03:25%;

//font
$font01 : 'BPG Boxo-Boxo';
$font02 : 'ALK Sanet';